<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify person</title>
    <style>
        header, footer {
            width: 100%;
            height: 75px;
            color: white;
            background-color: black;
            text-align: center;
            padding: 1em;
            clear: left;
        }
        body {
            width: 100%;
            border: solid black 1px;
        }
        nav {
            min-width: 100%;
            border-bottom: solid black 1px;
            clear: left;
            text-align: center;
        }
        nav li {
            display: inline;
            padding: 100px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        #sidebar {
            float: left;
            width: 15%;
            padding: 5px;
            border-right: solid black 1px;
        }
        h2 {
            background-color: black;
            color: white;
            text-align: center;
            border-radius: 5px;
        }
        input, select {
            width: 100%;
            box-sizing: border-box;
            padding: 5px 10px;
            margin: 5px 0;
            border: solid black 1px;
            border-radius: 4px;
        }
        #content {
            display: flex;
            float: left;
            min-height: 500px;
            width: 80%;
            padding: 5px;
        }
        .item{
            width: 25%;
            margin-left: 15px;
        }

    </style>
</head>
<body>
    <header>
        <h1>Edit Person</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Show persons</a></li>
            <li><a href="/groups/">Show groups</a></li>
            <li><a href="/new/">Add new person</a></li>
        </ul>
    </nav>
    <div id="sidebar">
        <form action="/{{ person.id }}/addAddress" method="POST">
            <h2>Add address</h2>
            <label>City:
                <input type="text" name="city">
            </label>
            <label>Street:
                <input type="text" name="street">
            </label>
            <label>Number:
                <input type="number" name="number">
            </label>
            <label>Flat:
                <input type="number" name="flat">
            </label>
            <label>
                <input type="submit" value="Add">
            </label>
            {% csrf_token %}
        </form>
        <form action="/{{ person.id }}/addNumber" method="POST">
            <h2>Add phone number</h2>
            <label>Number:
                <input type="number" name="number">
            </label>
            <label>Type:
                <select class="button" name="option">
                    <option value="1">Home phone</option>
                    <option value="2">Business phone</option>
                    <option value="3">Mobile phone</option>
                    <option value="4">Other</option>
                </select>
            </label>
            <label>
                <input type="submit" value="Add">
            </label>
            {% csrf_token %}
        </form>
        <form action="/{{ person.id }}/addEmail" method="POST">
            <h2>Add e-mail address</h2>
            <label>Address:
                <input type="email" name="email">
            </label>
            <label>Type:
                <select class="button" name="option">
                    <option value="1">Home</option>
                    <option value="2">Business</option>
                    <option value="3">Other</option>
                </select>
            </label>
            <label>
                <input type="submit" value="Add">
            </label>
            {% csrf_token %}
        </form>
    </div>
    <div id="content">
        <div class="item">
            <h2>Change personals</h2>
            <form action="#" method="POST">
                <label>First Name:
                    <input type="text" name="first_name" value="{{ person.first_name }}">
                </label>
                <label>Last Name:
                    <input type="text" name="last_name" value="{{ person.last_name }}">
                </label>
                <label>Description:
                    <input type="text" name="description" value="{{ person.description }}">
                </label>
                <label>
                    <input type="submit" name='action' value="Delete">
                    <input type="submit" name= 'action' value="Change">
                </label>
                {% csrf_token %}
            </form>
        </div>
        {% for address in person.addresses.all %}
            <div class="item">
                <h2>Change address</h2>
                <form action="/{{ address.id }}/modifyAddress" method="POST">
                    <label>City:
                        <input type="text" name="city" value="{{ address.city }}">
                    </label>
                    <label>Street:
                        <input type="text" name="street" value="{{ address.street }}">
                    </label>
                    <label>Number:
                        <input type="number" name="house_number" value="{{ address.house_number }}">
                    </label>
                    <label>Flat:
                        <input type="number" name="flat_number" value="{{ address.flat_number }}">
                    </label>
                    <label>
                        <input type="submit" name='action' value="Delete">
                        <input type="submit" name='action' value="Change">
                    </label>
                    {% csrf_token %}
                </form>
            </div>
        {% endfor %}
        {% for number in person.numbers.all %}
            <div class="item">
                <h2>Change phone number</h2>
                <form action="/{{ number.id }}/modifyNumber" method="POST">
                    <label>Number:
                        <input type="number" name="number" value="{{ number.number }}">
                    </label>
                    <label>Type:
                        <select class="button" name="option">
                            {% if number.number_type == 1 %}
                                <option value="1">Home phone</option>
                                <option value="2">Business phone</option>
                                <option value="3">Mobile phone</option>
                                <option value="4">Other</option>
                            {% elif number.number_type == 2 %}
                                <option value="2">Business phone</option>
                                <option value="1">Home phone</option>
                                <option value="3">Mobile phone</option>
                                <option value="4">Other</option>
                            {% elif number.number_type == 3 %}
                                <option value="3">Mobile phone</option>
                                <option value="1">Home phone</option>
                                <option value="2">Business phone</option>
                                <option value="4">Other</option>
                            {% elif number.number_type == 4 %}
                                <option value="4">Other</option>
                                <option value="1">Home phone</option>
                                <option value="2">Business phone</option>
                                <option value="3">Mobile phone</option>
                            {% endif %}
                        </select>
                    </label>
                    <label>
                        <input type="submit" name='action' value="Delete">
                        <input type="submit" name='action' value="Change">
                    </label>
                    {% csrf_token %}
                </form>
            </div>
        {% endfor %}
        {% for email in person.emails.all %}
            <div class="item">
                <h2>Change e-mail address</h2>
                <form action="/{{ email.id }}/modifyEmail" method="POST">
                    <label>Address:
                        <input type="email" name="address" value="{{ email.address }}">
                    </label>
                    <label>Type:
                        <select class="button" name="option">
                            {% if email.email_type == 1 %}
                                <option value="1">Home</option>
                                <option value="2">Business</option>
                                <option value="3">Other</option>
                            {% elif email.email_type == 2 %}
                                <option value="2">Business</option>
                                <option value="1">Home</option>
                                <option value="3">Other</option>
                            {% elif email.email_type == 3 %}
                                <option value="3">Other</option>
                                <option value="1">Home</option>
                                <option value="2">Business</option>
                            {% endif %}
                        </select>
                    </label>
                    <label>
                        <input type="submit" name='action' value="Delete">
                        <input type="submit" name='action' value="Change">
                    </label>
                    {% csrf_token %}
                </form>
            </div>
        {% endfor %}
    </div>
    <footer>
        <h3>My first application</h3>
    </footer>
</body>
</html>
