<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify person</title>
    <style>
        h1 {text-align: center}
        div {float: left; padding: 15px; height: 250px; width: 255px; border: solid black 1px}
        input, select {float: right;}
        .button {width: 173px}
        .add {clear: both}
        #back {display: block; clear: both; padding: 10px 0px;}
        #back input {float: left;}
    </style>
</head>
<body>
    <h1>Edit Person</h1>
    <div>
        <h2>Change personals</h2>
        <form action="#" method="POST">
            <label>First Name:
                <input type="text" name="first_name" value="{{ person.first_name }}">
            </label><br><br>
            <label>Last Name:
                <input type="text" name="last_name" value="{{ person.last_name }}">
            </label><br><br>
            <label>Description:
                <input type="text" name="description" value="{{ person.description }}">
            </label><br><br>
            <label>
                <input type="submit" name='action' value="Delete">
                <input type="submit" name= 'action' value="Change">
            </label>
            {% csrf_token %}
        </form>
    </div>
    {% for address in person.addresses.all %}
        <div>
            <h2>Change address</h2>
            <form action="/{{ address.id }}/modifyAddress" method="POST">
                <label>City:
                    <input type="text" name="city" value="{{ address.city }}">
                </label><br><br>
                <label>Street:
                    <input type="text" name="street" value="{{ address.street }}">
                </label><br><br>
                <label>Number:
                    <input type="number" name="house_number" value="{{ address.house_number }}">
                </label><br><br>
                <label>Flat:
                    <input type="number" name="flat_number" value="{{ address.flat_number }}">
                </label><br><br>
                <label>
                    <input type="submit" name='action' value="Delete">
                    <input type="submit" name='action' value="Change">
                </label>
                {% csrf_token %}
            </form>
        </div>
    {% endfor %}
    {% for number in person.numbers.all %}
        <div>
            <h2>Change phone number</h2>
            <form action="/{{ number.id }}/modifyNumber" method="POST">
                <label>Number:
                    <input type="number" name="number" value="{{ number.number }}">
                </label><br><br>
                <label>Type:
                    <select class="button" name="option">
                        {% if number.number_type == 1 %}
                            <option value="1">Home phone</option>
                            <option value="2">Business phone</option>
                            <option value="3">Mobile phone</option>
                            <option value="4">Other</option>
                        {% elif number.number_type == 2 %}
                            <option value="2">Business phone</option>
                            <option value="1">Home phone</option>
                            <option value="3">Mobile phone</option>
                            <option value="4">Other</option>
                        {% elif number.number_type == 3 %}
                            <option value="3">Mobile phone</option>
                            <option value="1">Home phone</option>
                            <option value="2">Business phone</option>
                            <option value="4">Other</option>
                        {% elif number.number_type == 4 %}
                            <option value="4">Other</option>
                            <option value="1">Home phone</option>
                            <option value="2">Business phone</option>
                            <option value="3">Mobile phone</option>
                        {% endif %}
                    </select>
                </label><br><br>
                <label>
                    <input type="submit" name='action' value="Delete">
                    <input type="submit" name='action' value="Change">
                </label>
                {% csrf_token %}
            </form>
        </div>
    {% endfor %}
    {% for email in person.emails.all %}
        <div>
            <h2>Change e-mail address</h2>
            <form action="/{{ email.id }}/modifyEmail" method="POST">
                <label>Address:
                    <input type="email" name="email" value="{{ email.address }}">
                </label><br><br>
                <label>Type:
                    <select class="button" name="option">
                        {% if email.email_type == 1 %}
                            <option value="1">Home phone</option>
                            <option value="2">Business phone</option>
                            <option value="3">Other</option>
                        {% elif email.email_type == 2 %}
                            <option value="2">Business phone</option>
                            <option value="1">Home phone</option>
                            <option value="3">Other</option>
                        {% elif email.email_type == 3 %}
                            <option value="3">Other</option>
                            <option value="1">Home phone</option>
                            <option value="2">Business phone</option>
                        {% endif %}
                    </select>
                </label><br><br>
                <label>
                    <input type="submit" name='action' value="Delete">
                    <input type="submit" name='action' value="Change">
                </label>
                {% csrf_token %}
            </form>
        </div>
    {% endfor %}
    <div class="add">
    <h2>Add address</h2>
    <form action="/{{ person.id }}/addAddress" method="POST">
        <label>City:
            <input type="text" name="city">
        </label><br><br>
        <label>Street:
            <input type="text" name="street">
        </label><br><br>
        <label>Number:
            <input type="number" name="number">
        </label><br><br>
        <label>Flat:
            <input type="number" name="flat">
        </label><br><br>
        <label>
            <input type="submit" value="Add">
        </label>
        {% csrf_token %}
    </form>
    </div>
    <div>
        <h2>Add phone number</h2>
        <form action="/{{ person.id }}/addNumber" method="POST">
            <label>Number:
                <input type="number" name="number">
            </label><br><br>
            <label>Type:
                <select class="button" name="option">
                    <option value="1">Home phone</option>
                    <option value="2">Business phone</option>
                    <option value="3">Mobile phone</option>
                    <option value="4">Other</option>
                </select>
            </label><br><br>
            <label>
                <input type="submit" value="Add">
            </label>
            {% csrf_token %}
        </form>
    </div>
    <div>
        <h2>Add e-mail address</h2>
        <form action="/{{ person.id }}/addEmail" method="POST">
            <label>Address:
                <input type="email" name="email">
            </label><br><br>
            <label>Type:
                <select class="button" name="option">
                    <option value="1">Home</option>
                    <option value="2">Business</option>
                    <option value="3">Other</option>
                </select>
            </label><br><br>
            <label>
                <input type="submit" value="Add">
            </label>
            {% csrf_token %}
        </form>
    </div>
    <a id="back" href="/"><input type="button" value="Back"></a>
</body>
</html>
