/*GLOBALS*/

a {
    text-decoration: none;
    color: white;
}

ul, h1, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font: 15px/1.5 Arial;
}

.highlight {
    font-weight: bolder;
    color: aqua;
}

.delta {
    border-bottom: solid 1px black;
    font-weight: bolder;
    /*text-align: center;*/
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}



/*HEADER*/



.header {
    padding: 20px;
    min-height: 60px;
    background-color: black;
    color: white;
}
.navi a {
    text-transform: uppercase;
}

.navi li{
    display: inline;
    padding: 0 20px 0 20px;
}
.branding {
    float: left;
    font-size: 20px;
}
nav {
    float: right;
    margin-top: 20px;
}
.header a:hover{
    font-weight: bolder;
    color: aqua;
}


/* CONTAINER */



.container{
    display: grid;
    padding: 50px;
    margin: 0 100px 0 100px;
    justify-items: center;
    height: 484px;

}


/* CONTAINER-DIV */


.container-div {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 584px;
}


.sidebar {
    border-right: solid 1px black;
    overflow-y: scroll;
}
.sidebar a {
    display: grid;
    padding: 20px;
    color: black;
    font-size: 16px;
    /*text-align: center;*/
}

.sidebar a:hover{
    background-color: black;
    color: aqua;
    font-weight: bolder;
    text-transform: uppercase;

}

/* CONTAINER-DIV ELEMENTS */

.info {
    display: grid;
    align-self: center;
    justify-self: center;

}



.content {
    display: grid;
    overflow-y: scroll;
    padding: 25px;
    grid-template-columns: 8fr 2fr;

}


/* PERSON/GROUP DETAILS SITE */


.details {
    padding-right: 10px;
    padding-left: 10px;
}


.details h1 {
    font-size: 40px;
}

.details h2 {
    margin: 5px 0 5px 0;
    padding: 0;

}

.sidebar-right {
    display: grid;
    align-items: center;
    justify-items: center;
}

.name {
    border-bottom: solid 2px black;
    height: 140px;
}


.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 2px black;
    min-height: 180px;

}

.contacts-table {
    display: grid;
}

.table-header {
    display: grid;
    grid-column: 1/3;
}

.contacts-table tr {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left {
    display: block;
    float: left;
}
.right {
    display: block;
    float: right;
}




.addresses {
    min-height: 180px;
}

.address_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



.profile_img {
    width: 200px;
    border: solid 1px black;
    border-radius: 20px;
    margin-bottom: 15px;
}

.menu {
    width: 200px;
    border: solid 1px black;
    border-radius: 20px;

}
.menu a{
    display: grid;
    padding: 20px;
    color: black;
    font-size: 16px;
    text-align: center;
}

.menu a:hover{
    background-color: black;
    color: aqua;
    font-weight: bolder;
    text-transform: uppercase;

}

.first:hover{
    border-radius: 20px 20px 0 0;
}

.last:hover{
    border-radius: 0 0 20px 20px;
}

.person_content{
    display: grid;
    justify-items: center;
    align-items: center;

}

.person_content h2 {
    margin-bottom: 25px;
    text-align: center;
}
.person_form {
    margin-bottom: 60px;
}


/* WELCOME SITE */

.content-wrapper {
    display: grid;
    grid-template-rows: minmax(242px, auto);
}

.up {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 16px;

}

.up h1 {
    font-size: 35px;

}

.down{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    font-weight: bolder;

}

.nested img {
    width: 70px;
}

/*LOGIN*/


.login h2 {
    text-align: center;
    margin: 50px 0 50px 0;

}


/* ADD NEW PERSON VIEW */


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.box1 {
    display: grid;
    grid-column: 1/3;
    align-items: center;
}


.box3 {
    width: 400px;
}

.wrapper h3{
    text-align: center;
}


/* FORMS */


.form input, textarea, select {
    background-color: white;
    padding: 5px 10px;
    margin: 5px 0 5px 0;
    border: solid black 1px;
    border-radius: 4px;
    width: 400px;
    height: 35px;
    box-sizing: border-box;
    font: 15px/1.5 Arial;
    display: grid;

}

.form textarea {
    height: 150px;
}

.form input::placeholder, textarea::placeholder {
    font: 15px/1.5 Arial;
}
.submit {
    background-color: white;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    
}

.submit:hover {
    background-color: black;
    font-weight: bolder;
    color: aqua;
    text-transform: uppercase;

}


