{% extends 'group/show_groups.html' %}
{% block inside %}
        <div class="content">
            {% block details %}
                <div class="details">
                    <div class="name">
                        <h1>{{ group.name }}</h1>
                        <p>{{ group.description }}</p>
                    </div>
                    <div class="members">
                        {% for member in group.members.all %}
                            <p>{{ member.first_name }} {{ member.last_name }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endblock details %}
            <div class="sidebar-right">
                <div>
                    {% load static  %}
                    <img class="profile_img" src=" {% static 'image/groups.jpg' %}">
                </div>
                <div class="menu">
                    <a href="" class="first">Add to group</a>
                    <a href="">Edit group</a>
                    <a href="" class="last">Delete group</a>
                </div>
            </div>
        </div>
{% endblock inside %}
