{% extends 'person/show_people.html' %}
{% block inside %}
    <div class="wrapper">
        <div class="box1">
            <h1>Creating new person...</h1>
        </div>
        <div class="box2">
            <h3>Add person details</h3>
            <form class="form" action="#" method="POST">
                {{ form.as_p }}
                    <br>
                    <input class="submit" type="submit" value="Save">
                {% csrf_token %}
            </form>
        </div>
        <div class="box3">
            <h3>Step 1</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt expedita, maxime?
                Ad doloribus enim eveniet ex expedita explicabo facere, illo illum natus nobis perferendis
            <h3>Step 2</h3>
            <p>
                quaerat quasi quod ratione reiciendis repellat rerum sequi sit unde ut? Atque debitis itaque
                quia sequi.
            </p>
            <h3>Step 3</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt expedita, maxime?
                Ad doloribus enim eveniet ex expedita explicabo facere, illo illum natus nobis perferendis
            </p>
        </div>
    </div>
{% endblock inside %}
