{% extends 'person/show_person.html' %}
{% block details %}
    <div class="details">
        <div class="person_content">
            <div class="person_form">
                <h1>{{ person.first_name }} {{ person.last_name }}</h1>
            </div>
            <div>
                <h2 class="center">Are you sure?</h2>
                <form class="form" action="#" method="POST">
                    {{ form.as_p }}
                    <br>
                    <input class="submit" type="submit" value="Yes">
                    <a href="{% url 'show_person' person.pk %}"><input class="submit" type="button" value="No"></a>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock details %}
