{% extends 'person/show_people.html' %}
{% block inside %}
        <div class="content">
            {% block details %}
                <div class="details">
                    <div class="name">
                        <form method="post">
                            <label>
                                <input type="text" name="first_name" value="{{ person.first_name }}">
                                <input type="text" name="last_name" value="{{ person.last_name }}">
                            </label>
                            <label>
                                <textarea>
                                    {{ person.description }}
                                </textarea>
                            </label>
                            <label>
                                <input type="submit" value="save">
                            </label>
                        </form>
                    </div>
                    <div class="contacts">
                        <div>
                            <form method="post">
                                <table class="contacts-table">
                                    <tr>
                                        <td class="table-header">
                                            <h2>E-mail addresses</h2>
                                        </td>
                                    </tr>
                                {% for email in person.emails.all|dictsort:"email_type" %}
                                    <tr>
                                        <td class="left">
                                            <label>
                                                <input type="text" name="{{ email.pk }}" value="{{ email.get_email_type_display }}">
                                            </label>
                                        </td>
                                        <td class="right">
                                            <label>
                                                <input type="text" name="{{ email.pk }}" value="{{ email.address }}">
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                                <label>
                                    <input type="submit" value="save">
                                </label>
                            </form>
                        </div>
                        <div>
                            <table class="contacts-table">
                                <tr>
                                    <td class="table-header">
                                        <h2>Phone numbers</h2>
                                    </td>
                                </tr>
                            {% for phone in person.numbers.all|dictsort:"number_type" %}
                                <tr>
                                    <td class="left">{{ phone.get_number_type_display }}</td>
                                    <td class="right">{{ phone.number }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="addresses">
                        <div>
                            <h2>Addresses</h2>
                        </div>
                        <div class="address_container">
                            {% for address in person.addresses.all %}
                            <div>
                                <table class="contacts-table">
                                    <tr>
                                        <td class="left">Street</td>
                                        <td class="right">{{ address.street }}</td>
                                    </tr>
                                    <tr>
                                        <td class="left">House</td>
                                        <td class="right">{{ address.house_number }}</td>
                                    </tr>
                                    <tr>
                                        <td class="left">Flat</td>
                                        <td class="right">{{ address.flat_number }}</td>
                                    </tr>
                                    <tr>
                                        <td class="left">City</td>
                                        <td class="right">{{ address.city }}</td>
                                    </tr>
                                </table>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock details %}
            <div class="sidebar-right">
                <div>
                    {% load static  %}
                    <img class="profile_img" src=" {% static 'image/profile.jpg' %}">
                </div>
                <div class="menu">
                    <a href="{% url 'add_address' person.pk %}" class="first">Add contacts</a>
                    <a href="{% url 'add_to_groups' person.pk %}">Add to group</a>
                    <a href="{% url 'update_person' person.pk %}">Edit person</a>
                    <a href="{% url 'delete_person' person.pk %}" class="last">Delete person</a>
                </div>
            </div>
        </div>
{% endblock inside %}
